---
---

@font-face {
  src: url("/assets/fonts/kamerik-medium.woff2");
  font-family: "Kamerik";
  font-weight: normal;
}

@font-face {
  src: url("/assets/fonts/kamerik-medium-italic.woff2");
  font-family: "Kamerik";
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url("/assets/fonts/kamerik-bold.woff2");
  font-family: "Kamerik";
  font-weight: bold;
}

@font-face {
  src: url("/assets/fonts/kamerik-bold-italic.woff2");
  font-family: "Kamerik";
  font-style: italic;
  font-weight: bold;
}

@import "nspace";

footer {
  .container {
    #copyright {
      grid-area: cop;
      text-align: center;
      align-self: center;
    }

    grid-template-areas:
      "cop";

    @include screen-small {
      grid-template-areas:
        "cop cop cop";
    }

    @include screen-medium {
      grid-template-areas:
        "cop cop cop cop cop";
    }

    @include screen-large {
      grid-template-areas:
        "... cop cop cop cop cop ...";
    }
  }
}

#home {
  &_header {
    .container {
      h1 {
        grid-area: pti;
        align-self: end;
        text-align: center;
      }

      h3 {
        grid-area: psu;
        text-align: center;
      }

      grid-template-areas:
        "pti"
        "psu";

      @include screen-small {
        grid-template-areas:
          "pti pti pti"
          "psu psu psu";
      }
    }
  }

  &_typography {
    .container {
      h1 {
        grid-area: tt1;
      }

      h2 {
        grid-area: tt2;
      }

      h3 {
        grid-area: tsu;
      }

      h4 {
        grid-area: the;
      }

      h5 {
        grid-area: tfo;
      }

      h6 {
        grid-area: tsm;
      }

      p {
        grid-area: tpa;
      }

      grid-template-areas:
        "tt1"
        "tt2"
        "tsu"
        "the"
        "tfo"
        "tsm"
        "tpa";

      @include screen-small {
        grid-template-areas:
          "tt1 tt1 tt1"
          "tt2 tt2 tt2"
          "tsu tsu tsu"
          "the the the"
          "tfo tfo tfo"
          "tsm tsm tsm"
          "tpa tpa tpa";
      }
    }
  }
}