---
---

@import "nspace";

#footer {
  .container {
    #footer_copyright,
    #footer_signature {
      align-self: center;
      font-size: $h5-font-size;
      line-height: $h5-line-height;
    }

    #footer_copyright {
      grid-area: fco;
    }

    #footer_signature {
      grid-area: fsi;
    }

    grid-template-areas:
      "fco"
      "fsi";

    @include screen-small {
      grid-template-areas:
        "fco fco"
        "fsi fsi";
    }

    @include screen-medium {
      grid-template-areas:
        "fco fco fsi fsi";
    }

    @include screen-large {
      grid-template-areas:
        "fco fco fsi fsi ... ... ...";
    }
  }
}

#home {
  &_header {
    .container {
      h1 {
        grid-area: ht1;
        align-self: end;
      }

      p {
        grid-area: hpa;
      }

      grid-template-areas:
        "ht1"
        "hpa";

      @include screen-small {
        grid-template-areas:
          "ht1 ht1"
          "hpa hpa";
      }

      @include screen-medium {
        grid-template-areas:
          "ht1 ht1 ... ..."
          "hpa hpa ... ...";
      }

      @include screen-large {
        grid-template-areas:
          "ht1 ht1 ... ... ... ... ..."
          "hpa hpa ... ... ... ... ...";
      }
    }
  }

  &_typography {
    .container {
      h1 {
        grid-area: tt1;
      }

      h2 {
        grid-area: tt2;
      }

      h3 {
        grid-area: th1;
      }

      h4 {
        grid-area: th2;
      }

      p {
        grid-area: tpa;
      }

      grid-template-areas:
        "tt1"
        "tt2"
        "th1"
        "th2"
        "tpa";

      @include screen-small {
        grid-template-areas:
          "tt1 tt1"
          "tt2 tt2"
          "th1 th1"
          "th2 th2"
          "tpa tpa";
      }

      @include screen-medium {
        grid-template-areas:
          "tt1 tt1 tpa tpa"
          "tt2 tt2 tpa tpa"
          "th1 th1 tpa tpa"
          "th2 th2 tpa tpa";
      }

      @include screen-large {
        grid-template-areas:
          "tt1 tt1 tt1 tpa tpa ... ..."
          "tt2 tt2 tt2 tpa tpa ... ..."
          "th1 th1 th1 tpa tpa ... ..."
          "th2 th2 th2 tpa tpa ... ...";
      }
    }
  }

  &_content {
    .container {
      grid-row-gap: $nspace5;

      .card1 {
        grid-area: cc1;
      }

      .card2 {
        grid-area: cc2;
      }

      .card3 {
        grid-area: cc3;
      }

      grid-template-areas:
        "cc1"
        "cc2"
        "cc3";

      @include screen-small {
        grid-template-areas:
          "cc1 cc1"
          "cc2 cc2"
          "cc3 cc3";
      }

      @include screen-medium {
        grid-template-areas:
          "cc1 cc1 ... ..."
          "cc2 cc2 ... ..."
          "cc3 cc3 ... ...";
      }

      @include screen-large {
        grid-template-areas:
          "cc1 cc1 ... cc2 cc2 ... ..."
          "cc3 cc3 ... ... ... ... ...";
      }
    }
  }
}