---
---

@font-face {
  src: url("/assets/fonts/calibre-test-regular.woff") format("woff");
  font-family: "Calibre";
}

@font-face {
  src: url("/assets/fonts/calibre-test-regular-italic.woff") format("woff");
  font-family: "Calibre";
  font-style: italic;
}

@import "main";