.card1
  display: grid
  grid-template-columns: 1fr min-content
  grid-template-rows: min-content 1fr
  grid-column-gap: $nspace4
  grid-row-gap: $nspace3

  &__heading
    grid-area: che
    color: $color-text
    font-size: $h4-font-size
    line-height: $h4-line-height

  &__sub
    grid-area: csu
    align-self: center
    color: $color-text-deco
    font-size: 1rem
    line-height: $p-line-height

  &__expand
    grid-area: cex

  grid-template-areas: "csu cex" "che che"