<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        (site name) | {{ page.title }}
    </title>
    <meta name="description"
          content="{{ page.description }}">

    <link rel="icon" type="image/x-icon"
          href="{{ '/assets/img/favicon.ico' | relative_url }}">
    <link rel="preconnect"
          href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap">
    <link rel="stylesheet"
          href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
<nav class="navbar">
    <div class="navbar__container">
        <img class="navbar__container__logo"
             src="{{ 'assets/img/logo.png' | relative_url }}" alt="navbar logo"
             height="58px" width="40px">
        <div class="navbar__container__menutoggle menutoggle" aria-label="burger"></div>
        <div class="navbar__container__menu">
            <a href="{{ '/' | relative_url }}" class="navbar__container__menu__link">home</a>
            <a href="{{ '/' | relative_url }}" class="navbar__container__menu__link">about</a>
            <a href="{{ '/' | relative_url }}" class="navbar__container__menu__link">services</a>
        </div>
    </div>
</nav>
{{ content }}
<footer id="footer">
    <div class="container">
        (footer)
    </div>
</footer>
<script>
    const menutoggle = document.querySelector('.navbar__container__menutoggle')
    const menu = document.querySelector('.navbar__container__menu')
    menutoggle.addEventListener('click', () => {
        menutoggle.classList.toggle('menutoggle--active')
        menu.classList.toggle('navbar__container__menu--active')
    })
</script>
</body>
</html>
